<link href="/css/cookies.css" rel="stylesheet"/>



<div id="alertCookiePolicy" class="alert-cookie-policy">
    <div class="alert alert-secondary mb-0 d-flex align-items-center" role="alert">
      <span class="mr-auto">This website uses cookies to ensure you get the best experience on our website.  <a href="#" class="alert-link">Learn more</a></span>
      <button id="btnDeclineCookiePolicy" class="btn btn-light mr-3 " data-dismiss="alert" type="button" aria-label="Close">Decline</button>
      <button id="btnAcceptCookiePolicy" class="btn btn-primary bg-primary text-white " data-dismiss="alert" type="button" aria-label="Close">Accept</button>
    </div>  
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src="/js/cookies.js"></script>