<link href="/css/dropdown.css" rel="stylesheet"/>


<div class="backdrop"></div>
<div class="drop_modal">
  <img id="closeModalButton" src="https://th.bing.com/th/id/R.ff6861d5a64675a4941af266cccffddd?rik=0L6TovwwhgcO0g&pid=ImgRaw&r=0" />   

</div>


<script src="/js/dropdown.js"> </script>