<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MasInfosys</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="./img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" integrity="sha512-YTuMx+CIxXa1l+j5aDPm98KFbVcYFNhlr2Auha3pwjHCF1lLbY9/ITQQlsUzdM1scW45kHC5KNib4mNa1IFvJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna - v4.10.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <link href="/css/googletranslate.css" rel="stylesheet">

</head>

<body>

  <div class="site_navbar">
    <div class="header_top_item site_navbar_first_item">
      <p style="margin-top: 6px;" class="p_hide">NEED HELP ? TALK TO AN EXPERT : </p>
      <p style="margin-top: 6px; margin-left: 20px;">Saudi Arabia : +966 11 4025065</p>
      <p style="margin-top: 6px; margin-left: 20px;">Uae : +971 054 793 5905</p>
  </div>
      <div class="site_navbar_second_item">
        <a href="https://www.linkedin.com/company/masinfosys/?viewAsMember=true" target="_blank"><img src="https://w1.pngwing.com/pngs/630/443/png-transparent-social-media-icons-linkedin-logo-linkedin-learning-job-professional-blue-text.png" style="height: 30px;border-radius: 50px;margin-right: 12px;"/></a>
        <a href="https://www.facebook.com/MAS-Infosys-100892589467740" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.png" style="height: 30px; border-radius: 50px;margin-left: 0px;"/></a>
        <a href="https://www.instagram.com/masinfosys/" target="_blank"><img src="https://1000logos.net/wp-content/uploads/2017/02/Instagram-Logo.png" style="height: 30px;border-radius: 50px;margin-left: 6px;"/></a>
        <a href="https://twitter.com/masinfosys" target="_blank"><img src="https://static.vecteezy.com/system/resources/previews/002/534/045/original/social-media-twitter-logo-blue-isolated-free-vector.jpg" style="height: 30px;border-radius: 50px;margin-left: 5px; margin-right: 8px;"/></a>
        <a href="https://www.youtube.com/channel/UCL_Bt6_UP03Gsj1uvcPvjnw/" target="_blank"><img src="https://www.logo.wine/a/logo/YouTube/YouTube-Icon-Full-Color-Logo.wine.svg" style="height: 30px; border-radius: 50px;margin-left: -4px;"/></a>
        <a href="/comp-profile/company-profile.pdf" download><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Icon_pdf_file.svg/800px-Icon_pdf_file.svg.png" style="height: 30px; border-radius: 50px;margin-left: 5px"/></a>

      </div>
  </div>

  <!-- <ul style="display: flex; list-style:none; flex: 1;justify-content: center;font-weight: bold;color: white;" >
    <p>NEED HELP ? TALK TO AN EXPERT   </p>
    <li style="color: white;"></li>
    <a href="" style="color: white;"><li style="margin-left: 5PX;"> SAUDI ARABIA : +961 38748374</li></a>
    <a href="" style="color: white;"><li>UAE : +971 054 793 5905</li></a> 
 </ul> -->

  <!-- <nav class="navbar navbar-expand-lg" style="background-color: #283886;padding:5px" >
    <div class="container-fluid" style="padding:0 50px">
      
        <div style="display:flex;align-items: center;flex-direction: row;align-self: flex-start;" class="header_top_item">
            <p style="margin-top: 6px;">NEED HELP ? TALK TO AN EXPERT : </p>
            <p style="margin-top: 6px; margin-left: 20px;">Saudi Arabia : +961 38748374</p>
            <p style="margin-top: 6px; margin-left: 20px;">Uae : +971 054 793 5905</p>
        </div>

        <div class="" style="display: flex;">
          <ul style="display: flex;">
            <li><a><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.png" style="height: 30px; border-radius: 50px;margin-left: 0px;"/></a></li>
            <li><img src="https://1000logos.net/wp-content/uploads/2017/02/Instagram-Logo.png" style="height: 30px;border-radius: 50px;margin-left: 6px;"/></li>
            <li><img src="https://www.pngkey.com/png/full/2-27646_twitter-logo-png-transparent-background-logo-twitter-png.png" style="height: 30px;border-radius: 50px;margin-left: 6px;"/></li>
         </ul>  
        </div>
      </div>
    </div>
  </nav> -->

  <!-- Nav -->
  

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo" class="img-fluid">
        <!-- <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1> -->
        <a href="index.html"><img src="./assets/img/mass_logo.png"/>  </a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar header_navbar" >
        <ul>
          <li><a class="active " href="/">Home</a></li>
          <li class="dropdown"><a href="#"><span>About us</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="internal_links">
              <li><a href="/about">About our company</a></li>
              <li><a href="/company-overview">Company Overview</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Products solutions</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="internal_links">
              <li><a href="/server-client">Server & Client Solutions</a></li>
              <li><a href="/storage-backup">Storage & Backup Solution</a></li>
              <li><a href="/network-security">Network & Security Solution</a></li>
              <li><a href="/data-center">Data Center Solution</a></li>
              <li><a href="/server-virtualization">Server & Client Virtualization Solution</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Services & Support</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="internal_links">
              <li><a href="/professional-installation">Professional Installation Services</a></li>
              <li><a href="/professional-support">Professional Support Services</a></li>
              <li><a href="/professional-consulting">Professional Consulting Services</a></li>
            </ul>
          </li>
          <li><a href="/professional-partner">Partners</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
    <div id='google_translate_element'></div>
  </header><!-- End Header -->