
<link href="/css/footer.css" rel="stylesheet"/>

<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


  <div class="footer_address">
      <div class="footer_address_element_large_screen first_item">
          <div class="footer_address_image">
            <img src="https://www.pngmart.com/files/22/Saudi-Arabia-Flag-Transparent-PNG.png"  style="height: 75px;" class="hide_extra_footer_image">
          </div>
          <div style="display: flex;margin-top: 10px;">
          <p>
            <img src="https://www.pngmart.com/files/22/Saudi-Arabia-Flag-Transparent-PNG.png"  style="height: 45px;"  class="extra_footer_image"> <br> Modern Arabian Systems for Telecommunication and Information Technology , <br> P.O.Box:325251,  Dabab Street, Alakras Building, 5th Floor, Office No 504, <br> Riyadh-12612, Saudi Arabia . <br> 
            Telephone : +966 11 4025065, Fax : +966 11 4025075 <br>
            Email <span style="margin-left: 0px;">: info@masinfosys.com ,</span> 
            <span style="margin-left: 2px;"> Sales@masinfosys.com ,</span> 
            <span style="margin-left: 2px;"> Service@masinfosys.com </span>
          </p>
          </div>
      </div>

      <div class="footer_address_element_small_screen">
        <div class="footer_address_image">
          <img src="https://www.pngmart.com/files/22/Saudi-Arabia-Flag-Transparent-PNG.png"  style="height: 75px;" class="hide_extra_footer_image">
        </div>
        <div style="display: flex;margin-top: 10px;">
        <p>
         <img src="https://www.pngmart.com/files/22/Saudi-Arabia-Flag-Transparent-PNG.png"  style="height: 45px;"  class="extra_footer_image"> <br> Modern Arabian Systems for Telecommunication and Information Technology ,<br> P.O.Box:325251, Dabab Street, Alakras Building, 5th Floor, Office No 504 ,<br> Riyadh-12612, Saudi Arabia .<br>
          Telephone:+966 11 4025065, Fax:+966 11 4025075 <br>
          Email <span style="margin-left: 0px;">: info@masinfosys.com ,</span> 
          <span style="margin-left: 2px;"> Sales@masinfosys.com ,</span> 
          <span style="margin-left: 2px;"> Service@masinfosys.com .</span>
        </p>
        </div>
    </div>

    
    <div class="footer_address_element_large_screen first_item second_item">
      <div class="footer_address_image">
        <img src="https://cdn-icons-png.flaticon.com/512/323/323301.png"  style="height: 75px;" class="hide_extra_footer_image">
      </div>
      <div style="display: flex;margin-top: 10px;">
      <p>
        <img src="https://www.pngmart.com/files/22/Saudi-Arabia-Flag-Transparent-PNG.png"  style="height: 45px;"  class="extra_footer_image"> <br> Mohamed Saad Algarni Information Technology L.L.C , <br> P.O.Box:91929, Al Kazim Building-3, M-Floor, Abu Saif Business Center, Office No 50, <br> Hor Alanz East, Dubai, UAE . <br> 
        Telephone : +971 42394550 , Fax : +971 42394557 <br>
        Email <span style="margin-left: 0px;">: info@masinfosys.com ,</span> 
        <span style="margin-left: 2px;"> Sales@masinfosys.com ,</span> 
        <span style="margin-left: 2px;"> Service@masinfosys.com </span>
      </p>
      </div>
  </div>
 

      <div class="footer_address_element_small_screen">
        <div class="footer_address_image">
          <img src="https://www.pngmart.com/files/22/Saudi-Arabia-Flag-Transparent-PNG.png"  style="height: 75px;" class="hide_extra_footer_image">
        </div>
        <div style="display: flex;margin-top: 10px;">
        <p>
         <img src="https://cdn-icons-png.flaticon.com/512/323/323301.png"  style="height: 45px;"  class="extra_footer_image"> <br> Mohamed Saad Algarni Information Technology L.L.C ,<br> P.O.Box:91929, Al Kazim Building-3, M-Floor, Abu Saif Business Center Office No 50 , <br> Hor Alanz East, Dubai, UAE .<br>
          Telephone: +971 42394550 , Fax: +971 42394557  <br>
          Telephone : +91 4426873686 ,  Fax: +91 4426873686, <br>
          Email <span style="margin-left: 0px;">: info@masinfosys.com, </span> 
          <span style="margin-left: 2px;">Sales@masinfosys.com, </span> 
          <span style="margin-left: 2px;">Service@masinfosys.com</span>
        </p>
        </div>
    </div>

   
    <div class="footer_address_element_large_screen third_item">
      <div class="footer_address_image">
        <img src="/img/flag-india-round.png"  style="height: 75px; border-radius: 50%;" class="hide_extra_footer_image">
      </div>
      <div style="display: flex;margin-top: 10px;">
      <p>
        <img src="/img/flag-india-round.png"  style="height: 45px;border-radius: 50%"  class="extra_footer_image"> <br> Micro Axis Systems Private Limited ,<br> No:944, F1,39th Street, Periyar Nagar, Korattur, <br> Chennai-600 080, Tamil Nadu, India . <br> 
        Telephone : +91 4426873686, Fax : +91 4426873686 <br>
        Email <span style="margin-left: 0px;">: info@masinfosys.com ,</span> 
        <span style="margin-left: 2px;"> Sales@masinfosys.com ,</span> 
        <span style="margin-left: 2px;"> Service@masinfosys.com .</span>
      </p>
      </div>
  </div>

  <div class="footer_address_element_large_screen fourth_item">
  
      <h4 class="heading_style" style="color: white; margin-left: 20px;">Our Work</h4>

      <div>
        <img src="https://i.pinimg.com/originals/d7/ae/b2/d7aeb287ecdf1f6e865390bf5ac3834d.gif" alt="" style="flex-basis: 20%; height: 80px;"/>
        <img src="https://cdn.dribbble.com/users/1148415/screenshots/3118303/pos.gif" alt="" style="flex-basis: 20%; height: 80px;"/>
        <img src="https://thumbs.gfycat.com/ImpressiveFearfulIrishredandwhitesetter-size_restricted.gif" alt="" style="flex-basis: 20%; height: 80px;"/>
        <img src="https://thumbs.gfycat.com/TimelyCommonKoalabear-size_restricted.gif" alt="" style="flex-basis: 20%; height: 80px;"/>
        <img src="https://i.makeagif.com/media/10-12-2017/iSGyLZ.gif" alt="" style="flex-basis: 20%; height: 80px;"/>
        <img src="https://thumbs.gfycat.com/FarflungConventionalEasternglasslizard-size_restricted.gif" alt="" style="flex-basis: 20%; height: 80px;"/>
      </div>
    
  </div>

      <div class="footer_address_element_small_screen">
        <div class="footer_address_image">
          <img src=""  style="height: 75px;" class="hide_extra_footer_image">
        </div>
        <div style="display: flex;margin-top: 10px;">
        <p>
         <img src="/img/flag-india-round.png"  style="height: 45px;border-radius: 50%"  class="extra_footer_image"> <br> Micro Axis Systems Private Limited , <br> No : 944, F1,39th Street, Periyar Nagar, Korattur, <br> Chennai-600 080, Tamil Nadu, India .<br>  
          Telephone : +91 4426873686 ,  Fax: +91 4426873686, <br>
          Email <span style="margin-left: 0px;">:info@masinfosys.com,</span> 
          <span style="margin-left: 0px;">Sales@masinfosys.com,</span> 
          <span style="margin-left: 0px;">Service@masinfosys.com</span>
        </p>
        </div>
    </div>

    

      <div class="footer_address_element_small_screen" style="padding: 20px;">
          <p style="font-weight: 600;color: white;" class="move_quick_link">Quick Links</p>
          <ul style="list-style:none;">
            <li ><a href="/" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Home</a></li>
            <li ><a href="/about" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> About Us</a></li>
            <li ><a href="/server-client" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Products & Solutions</a></li>
            <li ><a href="/professional-installation" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Service & Support</a></li>
            <li ><a href="/" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Partners</a></li>
            <li ><a href="/contact-us" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i>Contact Us</a></li>
          </ul>

            <p style="font-weight:600; color: white;">Newsletter </p>

            <input class="footer_address_element_input" type="email" name="email" value="Enter Your E-mail" required="">
            
            <button class="footer_address_element_button" type="submit">Submit</button>

      </div>
      
  </div>


  <div >
    <div class="footer_address_element_quick_links" style="padding: 20px;">
      <p style="font-weight: 600;color: white;" class="move_quick_link">Quick Links</p>
      <ul style="list-style:none;">
        <li ><a href="/" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Home</a></li>
        <li ><a href="/about" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> About Us</a></li>
        <li ><a href="/server-client" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Products & Solutions</a></li>
        <li ><a href="/professional-installation" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Service & Support</a></li>
        <li ><a href="/" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i> Partners</a></li>
        <li ><a href="/contact-us" style="text-decoration: none;color:white"><i class="bi bi-caret-right"></i>Contact Us</a></li>
      </ul>

        <p style="font-weight:600; color: white;">Newsletter </p>

        <input class="footer_address_element_input" type="email" name="email" value="Enter Your E-mail" required="">
        
        <button class="footer_address_element_button" type="submit">Submit</button>
  </div>
  </div>
  

  <footer class="footer" >
  
        <p class="company-name general_paragraph">
          &copy; Copyright 2022 Mas Infosys All Rights Reserved.
        </p>
  
</footer>

  

   <!-- VIDEO MODAL -->
   <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <iframe src="" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script src="/js/productSlider.js"></script> 
<script>
    AOS.init();

    AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 10, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});

  </script>

<script src="/js/google-translate.js"></script>
<script>
    // Video Play
    $(function () {
      // Auto play modal video
      $(".video").click(function () {
        var theModal = $(this).data("target"),
          videoSRC = $(this).attr("data-video"),
          videoSRCauto = videoSRC + "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";
        $(theModal + ' iframe').attr('src', videoSRCauto);
        $(theModal + ' button.close').click(function () {
          $(theModal + ' iframe').attr('src', videoSRC);
        });
      });
    });

    
window.onscroll = function() {myFunction()};

var header = document.getElementById("header");
console.log(header)
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}


</script>



<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/63513ec5b0d6371309ca90a8/1gfqlqda5';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->


</body>

</html>