<link href="./css/whatsup.css" rel="stylesheet"/>

<div class="whatsup">
    <a href="https://web.whatsapp.com/send?phone=+971569987270" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/479px-WhatsApp.svg.png"  style="height: 50px;"/>
    </a>  
  </div>