<%- include('partials/masinfosysheader'); -%>

<link href="/css/breadcrumbs.css" rel="stylesheet"/>
<link href="/css/fixed-psd-images.css" rel="stylesheet"/>

 <!-- ======= About Us Section ======= -->
 <section class="breadcrumbs breadcrumbs_six bg-transparent" style="margin-top: 5px;margin-bottom:30px;" >
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
      <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
      <h6 class="general_heading">The IT System integrator Group Company</h6>
      </div>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Data Center Solution</li>
      </ol>
    </div>

  </div>
</section><!-- End About Us Section -->



<link href="/css/datacenter.css" rel="stylesheet"/>

  <div class="container-fluid" style="margin-top: 20px;">
    <h4 class="heading_style">Data Center Solution</h4>
  </div>

  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>
  
<div class="container-fluid">
  <p class="general_paragraph">
    A datacenter is a facility composed of Servers, Storage and Network Switch, Routers and Firewalls as well as the cabling and physical racks used to organize and interconnect the IT equipment that used to organize, process, store and distribute large amount of data.
    A data center must also contain an adequate infrastructure such as power distribution and supplemental power subsystems, including electrical switching, uninterruptable power supplies, backup generators and so on; ventilation and data center cooling systems, such as computer room air conditioners; Fire alarm System and adequate provisioning for network carrier (telco) connectivity. All of this demands a physical facility with physical security and sufficient physical space to house the entire collection of infrastructure and equipment
  </p>
</div>

<div class="img_container img_container_resize">
  <img src="/img/data-center-storage-banner.png">
</div>

<div class="container-fluid">
  <p class="general_paragraph" style="margin-top: 50px;">
    Our consultants possess the expertise required to design and execute crucial data center processes from concept to deployment to turnover.  We maximize results & efficiencies, minimize risks, and optimize workflow for your data center, with the overall goal of lowering total cost of ownership of IT assets and increasing your data center return on investment.
  </p>
</div>

<div class="container-fluid">
  <h4 class="heading_style">Data Centre Tiering</h4>
  <p class="general_paragraph">The Uptime data center tier standards are a standardized methodology used to determine the availability in a facility. In a nutshell, this means it is easy to establish whether a particular data center is suitable for the needs of your business as data centers are clearly staged in tiers</p>


  <div class="img_container img_container_resize" style="background-color: #eeeeee ; display: flex; justify-content: center; padding: 0px;">
    <img src="/img/storsolu/datatier.png"   style="width: 50% !important"/>
  </div>

  <h4 class="heading_style" style="margin-top: 10px;">Tier 1</h4>
  <p class="general_paragraph">
    A tier 1 data center can be seen as the least reliable tier due to the fact that capacity components are non-redundant as well as the distribution path being a single, non-redundant path and as such, if a major power outage or disaster occurs, your equipment is more likely to go offline as there are no backup systems in place to kick in if any issues do occur <br> <br>

    Tier 1 data centers normally provide the cheapest service offering single redundancy meaning a considerably lower uptime guarantee than tiers 2, 3 & 4. Unplanned outages extremely likely to cause disruption, potentially major planned outages have the potential to cause issues including equipment downtime. Planned maintenance will often take place at night, which may not be suitable for clients who run their business 24/7.Maintenance and repair work on the facility will require the entire facility to shut down, causing potentially lengthy downtime.Tier1 data center recommended for companies with a passive web marketing presence Small internet based companies with no customer support or e-commerce facilities on-site.
  </p>

  <h4 class="heading_style" style="margin-top: 10px;">Tier 2</h4>
  <p class="general_paragraph">
    Tier 2 data centers are considerably more reliable than tier 1 data centers although they can be subject to problems with uptime. To achieve tier 2, the facility has to meet the criteria achieved with a tier 1 datacenter, as well as ensuring that all capacity components are fully redundant. <br> <br>
    Planned service outages can be performed in a way that does not affect equipment uptime normally cheaper than tier 3 or 4 facilities .A significantly lower uptime guarantee compared to tier 3 facilities. Unplanned outages likely to cause disruption, potentially major. Maintenance and repair work on the facility will require the entire facility to shut down, causing potentially lengthy downtime. Tier 2 data center recommended forInternet based companies who can cope with occasional downtime and will incur no penalties for this companies that do not run 24/7, allowing time for issues to be resolved.Higher intensity data driven servers such as model imaging programs.  
  </p>

  <h4 class="heading_style" style="margin-top: 10px;">Tier 3</h4>
  <p class="general_paragraph">
    Tier 3 data centers are commonly seen as the most cost effective solutions for the vast majority of medium to large businesses, with availability topping 99.98%, ensuring minimal downtime. To put this figure in perspective, this means that your equipment should see a maximum of two hours of downtime on an annual basis. Tier 3 data centers have to meet all of the requirements of tiers 1 & 2 as well as ensuring all equipment is dual-powered and has multiple uplinks. Some facilities also offer some fully fault-resistant <br> <br> equipment, although to achieve tier 4, all equipment including HVAC, servers, storage, chillers and uplinks must be fully fault-resistant. This tier is generally considered as tier 3+ in the marketplace.

    Significantly cheaper than tier 4 facilities, Tier 3 facilities offer the most cost-effective solution for the majority of businesses planned outages will not cause disruption to equipment. Unplanned outages unlikely to cause disruption to equipment. All equipment required to have dual power inputs, ensuring through one input fails, the other system picks up the slack.All maintenance, unless major, can be performed without impact to equipment.Not all equipment fully fault-resistant. Tier 3 data center Recommended for companies with a worldwide business presence.Companies that require have 24/7 operational hours.Organizations that require consistent uptime due to financial penalty issues.E-commerce and companies running full online operations, call centers, voip companies, companies with heavy database driven websites, companies that require a constant web presence.
   </p> 


   <h4 class="heading_style" style="margin-top: 10px;">Tier 4</h4>
    <p class="general_paragraph">
      A tier 4 data center is generally considered the most expensive option for businesses. Tier 4 data centers adhere to all the requirement of tiers 1, 2 & 3 as well as ensuring that all equipment is fully fault-resistant. This is achieved by creating physical copies of all essential equipment, otherwise known as N+N.Tier 4 data centers offer the high availability at over 99.99% planned & unplanned outages should not cause any disruption to equipment. All equipment must be dual-powered.All maintenance, unless major, can be performed without impact to equipment.All equipment fault-resistant, reducing the likelihood of any lengthy outages.Cost prohibitive for many companies and significantly more expensive than most tier 3 data centers.Minimal (under 0.02%) improvement in availability compared to tier 3 facilities. Tier 4 data center recommended forlarge, multinational companies, major worldwide organizations.
    </p> 

    <h4 class="heading_style" style="margin-top: 10px;">Fire Suppression System FM200</h4>
    <p class="general_paragraph">
      FM200 is a waterless fire protection system, it is discharged into the risk within 10 seconds and suppresses the fire immediately. FM200 is a synthetic/chemical fire suppression gas and extinguishes a fire by removing the free radicals or heat elements from the fire triangle. (Oxygen, Heat and Fuel). The typical concentration of an FM200 system is normally between 7.9% to 8.5%.
    </p> 

    <div class="img_container img_container_resize" >
      <img src="/img/fire-extinguisher-slide-banner.png" >
    </div>

    <p class="general_paragraph" style="margin-top: 50px">
      When using gas FM200 this danger is eliminated. … Firstly, the most important advantage of the use of chemical gas – it is safe for people and electronic equipment. During firefighting gas is used in a concentration not to be harmful to human health and lifeFM200 Fire Suppression is a suitable agent for normally occupied spaces. FM200 fire suppression systems are commonly used in: <br><br>

      DATA Centres<br>
      Comms Rooms<br>
      Telecommunication facilities<br>
      UPS Rooms<br>
      Medical facilities<br>
    </p>

    <h4 class="heading_style" style="margin-top: 10px;">Raised Floor Systems</h4>
    <p class="general_paragraph">
      Raised floor systems also known as access floors are an elevated structural floor that is stabilized over a solid substrate, typically a concrete slab. A raised floor system creates a gap ideal for running electrical wiring and HVAC ducts. <br> <br>
      The structural floor is composed of panels on a grid supported by adjustable vertical pedestals. The pedestals are affixed to the subfloor through either mechanical fixings or adhesives. Since the pedestals are adjustable, the gap between the elevated floor and the subfloor can be between 3 and 48 inches.
      Panels are typically 2 feet by 2 feet and are normally composed of a cement or wood core clad in steel or aluminum. The panels are compatible with many flooring finishes such as: vinyl, linoleum, laminate, rubber, carpet and stone or ceramic tiles. Implementing value engineering and life cycle cost analysis will help find a balance between aesthetics, cost, durability and maintenance
    </p> 

    <div class="img_container img_container_resize">
      <img src="/img/raised-floor-banner.png">
    </div>

    <p class="general_paragraph" style="margin-top: 50px;">
      The most common usage for access floors is to run cables, electrical wiring and HVAC ducts. Running cables and electrical wiring through the accessible space between the panels and the subfloor allows easy access and flexibility; wiring can be rerouted, repaired and upgraded without construction and minimal interference to the business’ everyday activity. When combined with modular electrical systems and modular walls, the entire building can be reconfigured easily.
      Raised floors are particularly useful for data centers and telecommunication facilities. Computer systems can rest on perforated tiles so that conditioned air is accessible for each unit. The equipment can then be designed to draw the cool air from below.
    </p>

    <h4 class="heading_style" style="margin-top: 10px;">CCTV Solution</h4>
    <p class="general_paragraph">
      CCTV (closed-circuit television) is a TV system in which signals are not publicly distributed but are monitored, primarily for surveillance and security purposes. CCTVrelies on strategic placement of cameras, and observation of the camera’s input on monitors somewhere.We provide the most up-to-date & cost effective security solutions for all your CCTV needs, with a variety of cameras & accessories from leading manufactures like Hikvision, Samsung, Panasonic, Honeywell, Axis Communication and Dahua.
    </p> 

    <div class="img_container img_container_resize">
      <img src="/img/cctv-camera-slider-banner.png">
    </div>

    <p class="general_paragraph" style="margin-top: 50px;">
      We offer wide range selection of Analog &IP cameras specially designed for surveillance security in a wide variety of industrial & commercial use including all kind of commercial spaces and offices, banks, hospital, schools, hotels, restaurants, shopping malls, warehouses, and other financial institutions for indoor and outdoor environments. CCTV Camera is one of the finest ways to make sure your business and home are protected.
    </p>

      <h4 class="heading_style" style="margin-top: 10px;">Access Controll System </h4>
      <p class="general_paragraph" style="margin-top: 10px;">
        Access control systems are the electronic systems that are designed to control through a network and they should have an access to a network. Access Control System recognizes authenticates and authorizes entry of a person to enter into the premise thereby giving complete protection ensuring security with the system. The purpose of an access control system is to provide quick, convenient access to those persons who are authorized, while at the same time, restricting access to unauthorized people.The goal of access control is to minimize the risk of unauthorized access to physical and logical systems. Access control is a fundamental component of security compliance programs that ensures security technology and access control policies are in place to protect confidential information, such as customer data.
      </p>

      <div class="img_container img_container_resize">
        <img src="/img/access-control-banner.png">
      </div>

      <p class="general_paragraph" style="margin-top: 50px;font-weight: 350;">
        We provide the most up-to-date & cost effective Biometric Access Control solutionslike Time Attendance, Door Access System from leading manufactures like Hikvision, Zkteco, HID, Biomax and Honeywell
      </p>

      <h4 class="heading_style" style="margin-top: 10px;">Fire Alarm System</h4>

      <p class="general_paragraph" style="margin-top: 10px;font-weight: 350;">
        A fire alarm system has a number of devices working together to detect and warn people through visual and audio appliances when smoke, fire, carbon monoxide or other emergencies are present.
      </p>

      <div class="img_container img_container_resize">
        <img src="/img/fire-system-banner.png">
      </div>

      <p class="general_paragraph" style="margin-top: 40px;font-weight: 350;">
        The fire alarm system can be set off automatically by smoke detectors, heat detectors or manually. … The optical smoke detector detects smoke by using light sensors (infrared LED). When smoke particles pass thru the chamber of the optical detector, it scatters light that triggers the alarm. Buying a fire alarm system is one of the most important things you can do to keep your home& office building safe. In case a fire occurs, you aware to become aware of it as soon as possible so that you can either put it out or escape.
        The first step to protecting lives and property from the consequences of fires is setting up a high-quality fire alarm system. After installing it, it’s important that you keep the system well-maintained to make sure it’s always working at its best
      </p>

</div>

<script>
  $('.carousel').carousel({
  interval: 1000 * 2
});
</script>
  
  <%- include('partials/masinfosysfooter'); -%>