<%- include('partials/masinfosysheader'); -%>
<link href="/css/breadcrumbs.css" rel="stylesheet"/>
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs breadcrumbs_twoo breadcrumbs_one bg-transparent" style="margin-top: -80px;margin-bottom:20px;" >
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
          <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
          <h6 class="general_heading">The IT System integrator Group Company</h6>
          </div>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Company Overview</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

      <!--CARD SECTION-->
      <div class="overview_card" >

        <div class="in_container bg-light text-muted">
          <img width="51" height="51" src="https://masinfosys.com/wp-content/uploads/2018/06/Who-We-Are.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
          <h4 class="heading_style">Who We Are</h4>
          <p class="general_paragraph">
            Mas Infosys is anindependent IT consultant company. Webuild world-class IT Infrastructure solutions that fits the unique requirements of customers.In simple words we are one stop solution center for all your IT needs by using the latest technologies available in the market
          </p>
        </div>
        <div class="in_container bg-light text-muted">
          <img width="51" height="51" src="https://masinfosys.com/wp-content/uploads/2018/06/Mission.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
          <h4 class="heading_style">Who We Are</h4>
          <p class="general_paragraph">
            Our mission at Mas Infosys is well known leading Global System Integrator to commit to Deliver Extra Ordinary IT Infrastructure Solutions Design with High Quality Professional Service and Support to the customer to increase the IT efficiency to achieve the business Target.
          </p>
        </div>
        <div class="in_container bg-light text-muted">
          <img width="51" height="51" src="https://masinfosys.com/wp-content/uploads/2018/06/Vision.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
          <h4 class="heading_style">Our Vision</h4>
          <p class="general_paragraph">
            To become one of the leading global IT solutions provider& System integrator with emphasis on quality, professionalism, reliability and service
          </p>
        </div>

      </div>

      <!-- company overwiew -->
      <section>
          <div class="container-fluid">
            <h4 class="heading_style" >COMPANY OVERVIEW </h4>
            <h4 class="heading_style">Providing Best Business Solution For
              Growing Your Business</h4>
              <hr class="rounded" style="background-color:  red; height:5px; width: 50px;">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <img src="/img/it_confidence.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px">
                  </div>
                  <div class="col-md-6">
                    <h4 class="heading_style">We Have More Than 20+ Years Practical Experience</h4>
                       <p class="general_paragraph">
                        For more than 10 years, MAS Infosys is the leading supplier in Service Management software and services. The Product and services we provide, is being developed by our technical partners and is part of our proven successful Service Management‘ method, that we use to assist our customers in working more efficiently at reduced costs. The experience we’ve gathered over the last 10 years ensures we have all the necessary knowledge to help achieve our customers reach their goals.

                        You decide when and how our technical consultants assist you during your optimization process. Our technical consultants have all the necessary experience required for guiding you for Enterprises IT needs.
                      </p>
                  </div>
                </div>
              </div>

          </div>
      </section>

      <div class="container py-5" >
        <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url('/img/women-using.jpg')">
          <h4 class="mb-4 heading_style" style="color: white;">
            Alienware m17 review
          </h4>
          <p class="mb-4 general_paragraph" style="color: white;">
            Hey, check this out.
          </p>
          <button class="btn btn-primary">Click For Review !</button>
        </div>
      </div>

       <!-- company core value -->
       <section>
        <div class="container-fluid">
          <h4 class="heading_style" >OUR CORE VALUE </h4>
          <h4 class="heading_style">Our Core Values That Make Us Professional</h4>

            <hr class="rounded" style="background-color:  red; height:5px; width: 50px;">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <img src="/img/women-standing.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px">
                  <div style="display: flex;justify-content:center;margin-bottom:5px;">
                    <img width="65" height="65" src="https://masinfosys.com/wp-content/uploads/2018/06/staf-1-1.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
                  </div>
                  <h4 class="heading_style">Solution Focused:</h4>
                 <p class="general_paragraph">
                  we work on solution, instead of problems; we see constructive possibilities in each challenge. We say“Yes we can. Rather that we won’t “
                </p> 
                </div>
                <div class="col-md-6">
                  <h4 class="heading_style" >We Have More Than 20+ Years Practical Experience</h4>
                    <div style="display: flex;justify-content:center;margin-bottom:5px;">
                      <img width="65" height="65" src="https://masinfosys.com/wp-content/uploads/2018/06/services-1-1.jpg" class="vc_single_image-img attachment-full __web-inspector-hide-shortcut__" alt="" loading="lazy" data-no-retina="" style="border-radius:50px">
                    </div>
                    <h4 class="heading_style">Our passion for innovation:</h4>
                   <p class="general_paragraph">
                    we seek opportunities in every situation, take calculated risk to manage expectations believing in words“Don’t be satisfied with the easiest option, if it is not the best option”
                  </p>  

                  <div style="display: flex;justify-content:center;margin-bottom:5px;">
                    <img width="65" height="65" src="https://masinfosys.com/wp-content/uploads/2018/06/Strategy-1-1.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
                  </div>
                  <h4 class="heading_style">Teamwork</h4>
                 <p class="general_paragraph">
                  we treat one another with respect &amp; communicate openly. We encourage the best ideas to surface for developing better solutions. We always appreciate values of multiple  perspectives & collective experience
                </p> 

                  
                </div>
              </div>
            </div>

        </div>
    </section>


  </main><!-- End #main -->


  <%- include('partials/masinfosysfooter'); -%>