<%- include('partials/masinfosysheader'); -%>
<link href="/css/breadcrumbs.css" rel="stylesheet"/>

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs breadcrumbs_two bg-transparent" style="margin-top: -80px;margin-bottom:20px;" >
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
            <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
            <h6 class="general_heading">The IT System integrator Group Company</h6>
            </div>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>About our company</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <!--data-aos="fade-up"-->
    <section class="about" >
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="" class="img-fluid" alt="" >
            <img width="83" height="83" src="https://www.kindpng.com/picc/m/75-758025_transparent-simbolos-png-customer-care-hand-icon-png.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
            <h4 class="heading_style">01. Planning & Strategy</h4>
            <p class="general_paragraph">
                The purpose of strategic planning is to set your overall goals for your business and to develop a plan to achieve them.
            </p>
            <img width="83" height="83" src="https://evolveyoursuccess.com/wp-content/uploads/2019/12/lightbulb-icon-png-icon-transparent-light-bulb-png.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" data-no-retina="">
            <p class="general_paragraph">
                Our clients are our biggest asset. And customer loyalty is our ultimate goal. That’s why customer service isn't just be a department of MAS Infosys, it is the cornerstone of our entire company
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h4 class="heading_style">About Our Company</h4>
            <p class="general_paragraph">
                Mas Infosysis one of the IT System Integrator Group of Company established in the year 2013 in Saudi Arabia. Later in 2018 we extended our operation in UAE. Mas Infosys has two division .One is end user focused business and another one is reseller & channel focused business. Mas Infosys is a strong and an independent IT Infrastructure Consultant compass that guides our customers to success in their business. Mas Infosys builds a world-class IT solutions that fits within the unique requirements of customers.We are focused on our customer’s success in the Solutions creation, Implementation and management within their enterprise value. Mas Infosys has strategic alliances with world class IT hardware and software providers to design, integrate, and implement comprehensive solutions, technologies, IT services and IT security that brings efficiency, effectiveness, and returns on the customer investments.
                Our sales consultant experts, solution architect experts, engineers, project managers and technicians are dedicated to ensure that unique project is completed on time and on budget.
                Mas Infosys is working withmultiple customer ranging from small, medium, enterprises as well as public sector, education and healthcare.
            </p>
            <p class="general_paragraph">
              Our clients are our biggest asset. And customer loyalty is our ultimate goal. That’s why customer service isn't just be a department of MAS Infosys, it is the cornerstone of our entire company
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up" style="margin-top: 20px;">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p class="general_paragraph">Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p class="general_paragraph">Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p class="general_paragraph">Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p class="general_paragraph">Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h4 class="heading_style">Our Strength</h4>
          <p class="general_paragraph">We are enthusiastic , creative thinking, task prioritization, disciplane. determination, analytical skills,determination, communication, dedication and organizational skills
          </p>
        </div>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Hardware<i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Software<i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Compute, Storage Solution<i class="val">99%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Network Solution<i class="val">99%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Data Center Solution<i class="val">99%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Software Solution<i class="val">99%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Skills Section -->

    <!-- SOLUTION SECTION -->
  <section id="share-section" class=" py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/buiness-people.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px">
        </div>
        <div class="col-md-6">
          <h4 class="heading_style">Meet Our Brand New Solution</h4>
             <p class="general_paragraph" >
                Mas Infosys delivers complete IT infrastructure product solution such as Server, storage, hyper converged,hybrid IT, backup solution,client computer, printing solution, data center design&preparation,server & client virtualization,lan & wan network design, cyber security, ip telephone system, video conference system, surveillance security camera system, time attendance system, access door system, fire alarm system and ups power system     
            </p>

            <button class="about_button ">read more</button>
        </div>
      </div>
    </div>
  </section>

      <!-- WORK TOGETHER SECTION -->
      <section id="share-section" class=" py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4 class="heading_style">Some Reasons to Work Together</h4>
              <div class="d-flex">
                <div class="p-4 align-self-start" style="flex-basis: 30%;">
                    <img src="https://masinfosys.com/wp-content/uploads/2018/06/Quality-2.png" alt="" class="img-fluid">
                </div>
                <div class="p-4 align-self-center">
                    <h4 class="heading_style">We Believe in Best Quality</h4>
                    <p class="general_paragraph">We are creating a people-centric company full of talented, enthusiastic folks who enjoy coming to work every day. Our technical team are passionate about efficiency and security. Our customer service people are dedicated to serve you</p>
                </div>
              </div>  
              <div class="d-flex">
                <div class="p-4 align-self-start" style="flex-basis: 30%;">
                    <img src="https://masinfosys.com/wp-content/uploads/2018/06/Relation-2.png" alt="" class="img-fluid">
                </div>
                <div class="p-4 align-self-center">
                    <h4 class="heading_style">We Believe in Good Relation</h4>
                    <p class="general_paragraph">We are creating a people-centric company full of talented, enthusiastic folks who enjoy coming to work every day. Our technical team are passionate about efficiency and security. Our customer service people are dedicated to serve you</p>
                   
                </div>
              </div>   

              <div class="d-flex">
                <div class="p-4 align-self-start" style="flex-basis: 30%;">
                    <img src="https://masinfosys.com/wp-content/uploads/2018/06/Abilities-2.png" alt="" class="img-fluid">
                </div>
                <div class="p-4 align-self-center">
                    <h4 class="heading_style">We Believe in Abilities</h3>
                    <p class="general_paragraph">Most of the clients trust us than any other Enterprises IT Solution Provider In the region. Since the right name can set you up for business success, you don't want to mess around. Go with the right provider</p>
                   
                </div>
              </div> 

            </div>

            <div class="col-md-6">
                <img src="/img/business-people2.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px 30px;">
                <h4 class="heading_style">Collaboratively Administrate Ampowered Markets Works.</h4>
                <p class="general_paragraph">Our highly robust, secure and affordable solutions aim at fulfilling your enterprises IT needs. Our continuous Technical and management monitoring the services which we designed exclusively to help your business activities.</p>

                <h4 class="heading_style">Why Choose Us ? </h4>
                <p class="general_paragraph">As a one-stop IT service provider, We are proud to showcase a team of highly qualified and certified professionals, including brand certifications from leading brands as well
                    we strive hard to offer scalable and a powerful solutions for your business. Our years of experience in the industry help us in delivering true value solutions for all kinds of server and web application needs.
                </p>

                <button class="about_button" style="margin-top: 20px">read more</button>
            </div>
          </div>
        </div>
      </section>


    <!-- ======= Tetstimonials Section ======= -->
    <!-- <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h4 class="heading_style">Tetstimonials</h4>
          <p class="general_paragraph">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h4 class="heading_style">Saul Goodman</h4>
              <h4 class="heading_style">Ceo &amp; Founder</h4>
              <p class="general_paragraph">
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h4 class="heading_style">Sara Wilsson</h4>
              <h4 class="heading_style">Designer</h4>
              <p class="general_paragraph">
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h4 class="heading_style">Jena Karlis</h4>
              <h4 class="heading_style">Store Owner</h4>
              <p class="general_paragraph">
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3 class="heading_style">Matt Brandon</h3>
              <h4 class="heading_style">Freelancer</h4>
              <p class="general_paragraph">
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3 class="heading_style">John Larson</h3>
              <h4 class="heading_style">Entrepreneur</h4>
              <p class="general_heading">
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>End Ttstimonials Section -->

     <!-- SHARE SECTION -->
  <section id="share-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/business-people3.jpg" alt="" class="img-fluid mb-3 " style="height: 100%;">
        </div>
        <div class="col-md-6">
          <h3 class="heading_style">We Provide Solution on Your Business</h3>
          <p class="general_paragraph">On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee.</p>
          <h3 class="heading_style">What We Do ? </h3>
          <p class="general_paragraph">We offer a range of Enterprices IT Products and services to both consumers and businesses in Gulf region. Our services include Networking and Data Center Solutions, CCTV , Cloud Computing etc. We offer high-end solutions through our partner networks.</p>
          <div class="d-flex" style="justify-content: flex-end;">
            <div class="p-4 align-self-center">
                <button class="about_button">read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  </main><!-- End #main -->


<%- include('partials/masinfosysfooter'); -%>