<%- include('partials/masinfosysheader'); -%>

<link href="/css/breadcrumbs.css" rel="stylesheet"/>
<link href="/css/installation-service.css" rel="stylesheet"/>



 <!-- ======= About Us Section ======= -->
 <section class="breadcrumbs breadcrumbs_eight bg-transparent" style="margin-top: 5px;margin-bottom:30px;" >
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
      <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
      <h6 class="general_heading">The IT System integrator Group Company</h6>
      </div>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Professional Installation Service</li>
      </ol>
    </div>
  </div>
</section>




<div class="container-fluid" style="padding: 10px; justify-content: left;">
  <h3>Installation</h3>
  Do you need to upgrade your Home, Office or a Restaurant. Our Expert will provide installation service the way you want. We are specialized in providing a complete installation solution. All our highly skilled technicians have expertise in installation, including the set up of the components and demo on how-to operated them.
  We strive to provide professional quality installations that you will enjoy every time you use your product.
</div>


<div style="width: 90%; margin:0 auto">
  <div class="grid-container">
    <div class="grid-item gallery__item--1"><img src="/img/install/one.jpg" class="gallery_img"/><h4>Router Setup</h4></div>
    <div class="grid-item gallery__item--2"><img src="/img/install/seven.png" class="gallery_img"/> <h4>MS Office Installation</h4></div>
    <div class="grid-item gallery__item--3"><img src="/img/install/three.jpg" class="gallery_img"/><h4>CCTV Installation</h4></div> 
    <div class="grid-item gallery__item--4"><img src="/img/install/four.jpg" class="gallery_img"/><h4>Projector Installation</h4></div>
    <div class="grid-item gallery__item--5"><img src="/img/install/five.jpg" class="gallery_img"/><h4>Router, Switch, Data Center</h4></div>
    <div class="grid-item gallery__item--6"><img src="/img/install/six.jpg" class="gallery_img"/><h4>Security Services</h4></div> 
  </div>
</div>


<div class="container" style="margin-top: 30px">

        <p class="general_paragraph">
            1- Server, Storage &amp; Network Hardware Installation (Rack &amp; Stack) Configuration, Testing &amp; Labeling. <br>
            2- Network Passive Components Installation &amp; Structure Network Cabling (Copper &amp; Fiber) Planning, Designing, Implementation, Testing, Labeling&amp; Documentation. <br>
            3- UPS &amp; High Current Equipment Installation &amp; Startup Service. <br>
            4- Microsoft Infrastructure Service like Active Directory, File &amp; Print Services Design &amp; and Implementation
            5- VMware ESX VSphere Server Virtualization design, implementation, Testing &amp; Documentation . <br>
            6- HPE &amp; DELL EMC HCI Appliance Hardware Installation &amp; Configuration Services <br>
            7- Switch &amp; Router Startup Installation &amp; Configuration Services. <br>
            8- IP Telephone Call Manager System Installation &amp; Configuration Services. <br>
            9- CCTV (Analog &amp; IP Based Camera), Fire Alarm System, Time Attendance System, Door Access Installation &amp; Configuration Service. <br>
            10- Server Backup Solution by Veeam, Micro focus Data Protector, Networker &amp; Vertias Implementation &amp; Testing. <br>
            11- Server &amp; Network Monitoring ( Capacity &amp; Performance ) Service <br> 
            12- Wireless Solution Design, Implementation &amp; Manage.
        </p>
</div> 

<div class="container-fluid" >
  <h3 class="schedule_install_btn">How it Works ? </h3>
</div>

<div class="install_btn">
  <a href="/contact-us"> <i class="fa fa-car" aria-hidden="true"></i> Schedule Installation</a>
</div>

<div class="how_it_works">
      <div class="item-1">
        <i class="fa fa-calendar" aria-hidden="true" style="font-size: 50px;"></i>
        <h4 style="margin-top: 10px;">Schedule Installation</h4>
      </div>
      <div class="item-2">
        <i class="fa fa-phone" aria-hidden="true" style="font-size: 50px;"></i>
        <h4  style="margin-top: 10px;">Receive a Confirmation call</h4>
      </div>
      <div class="item-3">
        <i class="fa fa-calendar" aria-hidden="true" style="font-size: 50px;"></i>
        <h4  style="margin-top: 10px;">Installation Complete</h4>
      </div>
</div>






<%- include('partials/masinfosysfooter'); -%>