<%- include('partials/masinfosysheader'); -%>

<link href="/css/breadcrumbs.css" rel="stylesheet"/>
<link href="/css/support-service.css" rel="stylesheet"/>



 <!-- ======= About Us Section ======= -->
 <section class="breadcrumbs breadcrumbs_nine bg-transparent" style="margin-top: 5px;margin-bottom:30px;" >
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
      <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
      <h6 class="general_heading">The IT System integrator Group Company</h6>
      </div>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Professional Support Services</li>
      </ol>
    </div>

  </div>
</section><!-- End About Us Section -->


<div class="container-fluid" style="margin-top: 30px;">
    <h4 class="heading_style">Support Service</h4>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>

<!-- <div class="container-fluid"  style="margin-top: 30px;">
    <p class="general_paragraph">
        1-Server, Storage &amp; Client Device Hardware Support Service like Trouble shoot &amp; Maintenance Support <br>
        2-Local &amp; WAN Network Devices hardware and configuration trouble shoot Support Service <br>
        3-Microsoft Product Configuration Maintenance &amp; trouble Shoot Support Services <br>
        4-VMware &amp; Hyper-V Configuration Maintenance &amp; trouble shoot Support Service <br>
        5-Server Backup &amp; Restore Remote &amp; Onsite Support <br>
        6-Data Loss Prevention( DLP) Support
        7-Server Security &amp; Health Checkup Support.
    </p>

</div>  -->

<section id="share-section" class=" py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/world-wide-web.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px">
      </div>
      <div class="col-md-6">
        <h4 class="heading_style">Meet Our Brand New Solution</h4>
           <p class="general_paragraph" >
            1-Server, Storage &amp; Client Device Hardware Support Service like Trouble shoot &amp; Maintenance Support <br>
            2-Local &amp; WAN Network Devices hardware and configuration trouble shoot Support Service <br>
            3-Microsoft Product Configuration Maintenance &amp; trouble Shoot Support Services <br>
            4-VMware &amp; Hyper-V Configuration Maintenance &amp; trouble shoot Support Service <br>
            5-Server Backup &amp; Restore Remote &amp; Onsite Support <br>
            6-Data Loss Prevention( DLP) Support
            7-Server Security &amp; Health Checkup Support.
          </p>

          <div style="margin-top: 30px;">
            <a href="/contact-us" class="about_button " style="padding: 15px;color:white; cursor: pointer">contact</a>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="share-section" class=" py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="heading_style"><span style="color: #3f418c; font-size:40px">People.</span> <span style="color: teal; font-size:40px">Technology. </span> <span style="color: orange; font-size:40px">Solutions.</span></h4>
           <p class="general_paragraph" >
            Mas Infosys began in 1998 with a simple mission – to deliver extraordinary customer care for brands that prioritize customer satisfaction and loyalty. we offer tailored, Omni-Channel solutions for Technical Support, Customer Care, E-commerce and Retail, RMA Management, B2B/B2C Sales, Sales Support, membership services, travel and more.   
            <br><br>
            In order to provide outstanding customer service support to a broad range of leading global brands, it is essential to have strong language capabilities. That is why Support Services Group adds languages and site locations to satisfy demand in emerging markets. We currently support over 20 languages and are adding more to accommodate global brands. 
          </p>

          <div style="margin: 30px 0px;">
            <a href="/contact-us" class="about_button " style="padding: 15px;color:white; cursor: pointer">contact</a>
          </div>
      </div>
      <div class="col-md-6">
        <img src="/img/support-staff.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px">
      </div>
    </div>
  </div>
</section>



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/world-wide-web.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/custsupport/one.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/custsupport/two.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/custsupport/three.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <section id="share-section" class=" py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/support-staff3.jpg" alt="" class="img-fluid mb-3" style="border-radius: 15px 50px">
        </div>
        <div class="col-md-6">
          <h4 class="heading_style"><span style="color: #3f418c; font-size:40px">Annual.</span> <span style="color: teal; font-size:40px">Maintenance. </span> <span style="color: orange; font-size:40px; margin-top: 10px;">Contract.</span></h4>
              <p class="general_paragraph">
                Mas Infosys has always been the most conspicuous component of any enterprise therefore, it always ensures the endurance of the Server, Storage, Client systems, peripherals & networks. However MAS Infosys have always delivered first-class services as a part of the Annual Maintenance Contract (AMC)
                We have efficient technical experts Consultant and Engineer who can provide 24/7 Support to our Valuable Clients.
            </p>
          
  
            
          <div style="margin: 30px 0px;">
            <a href="/contact-us" class="about_button " style="padding: 15px;color:white; cursor: pointer">contact</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="support_section">
 
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-hammer"></i>
          </div>
          <h3 class="heading_style">Contact Center Services</h3>
          <p class="general_heading">
              Support Services Group Offers an Integrated Support System tailored to our client's diverse needs covering a wide range of operation
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-brush"></i>
          </div>
          <h3 class="heading_style">Business Intellegient Solution</h3>
          <p class="general_heading">
            Support Services Group’s Business Intelligence Solutions offering provides meaningful and actionable data that drives continuous improvement. 
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-wrench"></i>
          </div>
          <h3 class="heading_style">Business Process Automation</h3>
          <p class="general_heading">
            Comprehensive automation solutions, we haven’t lost sight of the driving force behind our growth
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-truck-pickup"></i>
          </div>
          <h3 class="heading_style">Office IT Setup & Relocation</h3>
          <p class="general_heading">
            Turnkey solutions for new offices, IT migrations and facilities enhancement
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-broom"></i>
          </div>
          <h3 class="heading_style">IT Support 24/7</h3>
          <p class="general_heading">
            LComprehensive & high-quality technical support with round-the clock operation, in addition, our professional sales specialists create meaningful interactions with your leads
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-plug"></i>
          </div>
          <h3 class="heading_style">IT Annual Maintenance Contract</h3>
          <p class="general_heading">
            Helps to minimize IT-issues that cause business downtime . To meet your customers’ needs, you must have the right resources available, in the right channels,
          </p>
        </div>
      </div>
    </div>
  </section>











<%- include('partials/masinfosysfooter'); -%>