<%- include('partials/masinfosysheader'); -%>
<link href="/css/virtualization.css" rel="stylesheet"/>

<link href="/css/breadcrumbs.css" rel="stylesheet"/>

 <!-- ======= About Us Section ======= -->
 <section class="breadcrumbs breadcrumbs_seven bg-transparent" style="margin-top: 5px;margin-bottom:30px;" >
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
      <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
      <h6 class="general_heading">The IT System integrator Group Company</h6>
      </div>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Server & Client Virtualization</li>
      </ol>
    </div>

  </div>
</section><!-- End About Us Section -->

<div class="container-fluid">
  <h4 class="heading_style" style="margin-top: 2rem;">Server & Client Virtualization Solution</h4>
</div>


<div class="container py-4">
  <div class="py-4">
     <div class="position-relative mb-4"
          style="height:2rem;">
        <div class="w-100 position-absolute top-50 start-50 translate-middle">
           <div class="progress"
                style="height:.25rem;">
              <div class="progress-bar bg-primary"
                   id="progress-tab"
                   role="progressbar"
                   style="width:25%;"
                   aria-valuenow="50"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
           </div>
           <ul class="nav nav-tabs border-0 w-100 hstack justify-content-between position-absolute top-50 start-50 translate-middle"
               id="skk-tabs">
              <li class="nav-item" role="presentation">
                 <button type="button"
                         class="btn btn-sm btn-primary rounded-pill"
                         style="width:2rem;height:2rem;"
                         data-bs-toggle="tab"
                         data-bs-target="#tab1"
                         data-skk-value="1">1</button>
              </li>
              <li class="nav-item" role="presentation">
                 <button type="button"
                         class="btn btn-sm btn-primary rounded-pill active"
                         style="width:2rem;height:2rem;"
                         data-bs-toggle="tab"
                         data-bs-target="#tab2"
                         data-skk-value="2">2</button>
              </li>
              <li class="nav-item" role="presentation">
                 <button type="button"
                         class="btn btn-sm btn-secondary rounded-pill"
                         style="width:2rem;height:2rem;"
                         data-bs-toggle="tab"
                         data-bs-target="#tab3"
                         data-skk-value="3">3</button>
              </li>
              <li class="nav-item" role="presentation">
                 <button type="button"
                         class="btn btn-sm btn-secondary rounded-pill"
                         style="width:2rem;height:2rem;"
                         data-bs-toggle="tab"
                         data-bs-target="#tab4"
                         data-skk-value="4">4</button>
              </li>
              <!-- <li class="nav-item" role="presentation">
                 <button type="button"
                         class="btn btn-sm btn-secondary rounded-pill"
                         style="width:2rem;height:2rem;"
                         data-bs-toggle="tab"
                         data-bs-target="#tab5"
                         data-skk-value="5">5</button>
              </li> -->
           </ul>
        </div>
     </div>
     <div class="tab-content p-1">
        <div class="tab-pane animate__animated animate__flipInX" id="tab1">

          <h4 class="heading_style">HYPER-CONVERGED SOLUTION</h4>
          <p class="general_paragraph">
            Hyper-converged infrastructure (HCI) is a software-defined IT infrastructure that virtualizes all of the elements of conventional “hardware-defined” systems.

            Combine storage, compute, and networking into a single system with hyper converged infrastructure (HCI). This simplified solution uses software and x86 servers to replace expensive, purpose-built hardware. With hyper converged infrastructure, you’ll decrease data center complexity and increase scalability.
          </p> 
          

          <div class="img_container" style="width: 100% !important; background-color: #eeeeee ; display: flex; justify-content: center; padding: 5px;">
            <img src="/img/storsolu/hypervision.jpg"   style="width: 50% !important"/>
          </div>

          <p class="general_paragraph" style="margin-top: 20px;">
            Traditional three-tier architecture is expensive to build, complex to operate, and difficult to scale. Don’t wait for IT infrastructure to support your application demands. Adopt HCI without losing control, increasing costs, or compromising security.

            To take advantage of hyper-converged infrastructure benefits, such as reduced storage costs and better performance, a virtual desktop infrastructure workload is a good bet. Hyper-convergence can also create a self-contained environment, ideal for testing and development.

            The main advantages of HCI are simplicity, ease of deployment & operations and cost savings – for smaller set-ups. By using HCI you have fewer systems to manage. The hyper-converged clouds reduce the time required to deploy many applications. They also reduce solution design time and integration complexity.

            We provide HCI solution based on different vendor product like HPE Simplivity, DellEMC VXRail, Nutanix AOS many more to provide solutions and services of very high standard to the clients.
          </p>  


        </div>
        <div class="tab-pane animate__animated animate__flipInX active" id="tab2">

        <h4 class="heading_style">VMware Server Virtualization</h4>
        <p class="general_paragraph">
        Virtualization is the process of creating a software-based or virtual representation such as virtual applications, servers, storage and networks. It is the single most effective way to reduce IT expenses while boosting efficiency and agility for all size businesses.

        A virtual computer system is known as a “virtual machine” (VM): a tightly isolated software container with an operating system and application inside. Each self-contained VM is completely independent. Putting multiple VMs on a single computer enables several operating systems and applications to run on just one physical server or “host.”

        A thin layer of software called a “hypervisor” decouples the virtual machines from the host and dynamically allocates computing resources to each virtual machine as needed.
        </p> 
      
      <div class="img_container" style="width: 100% !important; background-color: #eeeeee ; display: flex; justify-content: center; padding: 5px;">
        <img src="/img/virtualization-1.jpg"  style="width: 50% !important"/>
      </div>
   
     </div>


        <div class="tab-pane animate__animated animate__flipInX" id="tab3">
          <div class="tab-pane animate__animated animate__flipInX active" id="tab2">
            <h4 class="heading_style">MICROSOFT HYPER-V VIRTUALIZATION</h4>
            <p class="general_paragraph">
              Hyper-V is Microsoft’s virtualization product. It lets you to create and run a software version of a computer called a virtual machine. Each virtual machine acts like a complete computer, running an operating system and programs. When you need computing resources, virtual machines give you more flexibility help save time and money, and are a more efficient way to use hardware than just running one operating system on physical hardware.
            </p> 

          <div class="img_container" style="width: 100% !important; background-color: #eeeeee ; display: flex; justify-content: center; padding: 5px;">
            <img src="/img/storsolu/virtual.jpg"  style="width: 50% !important"/>
          </div>


          </div>
        </div>
        <div class="tab-pane animate__animated animate__flipInX" id="tab4">
        
          <h4 class="heading_style">VDI SOLUTION </h4>
          <p class="general_paragraph">
            Virtual desktop infrastructure (VDI) is virtualization technology that hosts a desktop operating system on a centralized server in a data center. VDI is a variation on the client-server computing model
          </p> 

          <div class="img_container" style="width: 100% !important; background-color: #eeeeee ; display: flex; justify-content: center; padding: 5px;">
            <img src="/img/storsolu/vdisolution.jpg"  style="width: 50% !important"/>
          </div>

          <p class="general_paragraph" style="margin-top: 20px;">
            Virtual desktop infrastructure (VDI), hypervisors work in much the same way as they do with server virtualization. VDI software usually defines pools of virtual desktops. When a user establishes a session with a connection broker, it assigns the session to an available virtual desktop from the appropriate pool.

            The purpose of VDI is to execute and distribute user desktop sessions from a centralized infrastructure—in one or many datacenters—which can be either on-premises or in a cloud system. Cloud Virtual desktop infrastructure (VDI) is a virtualization technique enabling access to a virtualized desktop, which is hosted on a remote service over the Internet

            We provide cost effective VDI Solution based on vendors like VMware, Citrix, Microsoft Hyper-V, Virtual Box, Horizon Cloud, Amazon Workspaces, and Horizon 
          </p> 




        </div>
        <!-- <div class="tab-pane animate__animated animate__flipInX" id="tab5">
          <h4 class="heading_style" style="margin-top: 2rem;">Server Virtualization</h4>
          
          <p style="font-weight:600" class="general_paragraph">1: Assessment of the infrastructure and propose the low level design considering industry best practices.</p>
          <p style="font-weight:600" class="general_paragraph">2: We use Cisco, HPE-Network Switches, Huawei &amp; other product range to offer solutions for a design and successful solution implementation.</p>
          <p style="font-weight:600" class="general_paragraph">3: Our expert resources will design, execute and manage the wireless networks. Mesh infrastructure deployments etc.,</p>
          <p style="font-weight:600" class="general_paragraph">4: Outdoor &amp; indoor uninterrupted wireless access solutions while roaming within campus or office premises.</p>
          <p style="font-weight:600" class="general_paragraph">5: Structured Network Cabling (Copper &amp; Fiber) Design &amp; Implementation.</p>
        </div> -->
     </div>
  </div>
</div>


  


<script>

console.clear();
"use strict";   

// Example only, not for production use

(function() {
   var tabContainer = document.querySelector("#skk-tabs"),
       tabEl = tabContainer.querySelectorAll("[data-bs-toggle='tab']"),
       progressTab = document.querySelector("#progress-tab");
   
   function tabEventShow(event) {
      var currentItem = this.parentNode,
          list = Array.from(currentItem.parentNode.children),
          position = list.indexOf(currentItem),
          length = list.length - 1,
          progressWidth = 0;
      
      progressWidth = (typeof(position) == "number") ? position : 0;
      progressWidth = (progressWidth > 0 && length > 0) ? (progressWidth / length * 100) : 0;
      
      progressTab.style.width = progressWidth + "%";

      tabEl.forEach(function(tab){
         if(list.indexOf(tab.parentNode) <= position) {
            tab.classList.add("btn-primary");
            tab.classList.remove("btn-secondary");
         } else {
            tab.classList.add("btn-secondary");
            tab.classList.remove("btn-primary");
         }
      });
   }
   
   tabEl.forEach(function(tab){
      tab.addEventListener("show.bs.tab", tabEventShow);
   });
   
})();



  $('.carousel').carousel({
  interval: 1000 * 2
});
</script>
  
  <%- include('partials/masinfosysfooter'); -%>