<%- include('partials/masinfosysheader'); -%>
<link href="/css/serviceclient.css" rel="stylesheet"/>
<link href="/css/breadcrumbs.css" rel="stylesheet"/>
<link href="/css/fixed-psd-images.css" rel="stylesheet"/>
  <!-- ======= About Us Section ======= -->
  <section class="breadcrumbs breadcrumbs_three bg-transparent" style="margin-top: 5px;margin-bottom:20px;" >
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div style="display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;">
        <h4 class="heading_style">: : MAS Infosys : :</h4> <br>
        <h6 class="general_heading">The IT System integrator Group Company</h6>
        </div>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Server & Client Solution</li>
        </ol>
      </div>

    </div>
  </section><!-- End About Us Section -->

<div class="container-fluid" style="margin-top: 30px;">
  <h4 class="heading_style">Server & Client solutions</h4>
</div>


  <div class="container-fluid" style="margin-bottom:30px">
      <hr class="span_seperator"></hr>
  </div>


<div class="container-fluid">
  <p class="general_paragraph">A server is a high power computer designed to process & execute the requests, deliver data to other client computers over a local network or the internet.

    Mas Infosys provides Server solution based on Intel Xeon & AMD processors, cloud-enabled enterprise servers and systems that helps customers to operate their business at high speed. We provide Server Solutionsby using HPE, DellEMC, Lenovo, cisco & oracle based Servers.
    
    A server is a high power computer designed to process & execute the requests, deliver data to other client computers over a local network or the internet.
    
    Mas Infosys provides Server solution based on Intel Xeon & AMD processors, cloud-enabled enterprise servers and systems that helps customers to operate their business at high speed. We provide Server Solutionsby using HPE, DellEMC, Lenovo, cisco & oracle based Servers.
  </p>
</div>

<!--server client slider-->


<div class="img_container">
  <img src="/img/server-client-banner-slide.png"/>
</div>

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Tower Server Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  A tower server is a power computer intended for use as a server and built in an upright cabinet that stands alone. Tower servers has versatile storage configuration and deliver powerful performance.It provides an affordable, efficient, secure, and productive infrastructure for SMBs to midsize businesses.

Single- Processor tower server has the right features at a competitive price, easy to use and maintain for growing small businesses and remote branch offices. Tower Server is designed to provide enterprise class features such as redundancy, reliability, and manageability.

Two Processor tower server delivers the ideal set of performance and expandability for changing business needs, making the choice for growing SMBs, remote/branch offices of large enterprises and data centers.
</p>

</div>


<div class="img_container">
  <img src="/img/firstslide.png" />
</div>


<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Rack Server Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>



<p class="general_paragraph">
  Rack-mounted serveris a computer, dedicated to use as a server and designed t be installed in a framework called a rack. The rack contains multiple mounting slots called bays, each is designed to hold a hardware unit secured in place with screws.  It provides the ability to install more than one server within a single rack 
  Rack server delivers increased performance with the best memory and I/O expandability packed in 1U, 2U & 4U dense rack design. Reliability, serviceability and always on availability. Rack Server is ideal for more space constrained server workloads. Rack servers are available with single CPU socket, 2 CPU socket & 4 CPU socket depends upon the workload application requirement.
</p>

</div>


<div class="img_container">
  <img src="/img/slide-3.png" />
</div>

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Modular & Composiable Server Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>

<p class="general_paragraph">
  A server architecture that houses multiple server & storage modules (“blades”) in a single chassis. It is widely used in datacenters to save space and improve system performance & management. Either self-standing or rack mounted, the chassis provides the power supply. Each blade Server has its own CPU, RAM and local storage.
</p>

<div class="img_container">
  <img src="/img/blade-system-slide.png" />
</div>


</div>

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">HPE Blade System Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  HPE Blade System c7000 Enclosure holds up to 16 server blades and up to 8 compute, storage or workstation blades plus redundant network and storage interconnects. It includes a shared, multi-terabit high-speed midplane for wire-once connectivity of server blades to network and shared storage. Power is delivered through a pooled power backplane that ensures the full capacity of the redundant hot-plug power supplies is available to all system components.

  HPE Blade System Support Proliant or Integrity server blades, expansion blades, and HPE One View or Insight Control management software.
</p>

<div class="img_container">
  <img src="/img/hpe-blade-3000-7000.png" />
</div>

</div>

<!--blade system solution-->

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/img/blade-system-slide.png" alt="...">
    </div>
  </div>
</div> -->

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Dell EMC Power Edge M1000eBlade System</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>



<p class="general_paragraph">
  Dell EMC blade system modular infrastructure (MI) solutions let you optimize your IT infrastructure for traditional, new and emerging workloads, which provides a path to a modern software-defined data center. The MI chassis can be configured with scalable modules of compute, storage and networking with unified management software

  Enhance data center efficiency with the shared power, cooling, networking and management infrastructure of the PowerEdge™ M1000e Blade Enclosure
</p>

</div>

<!--blade system solution-->

<div class="img_container">
  <img src="/img/m1000-blade-slide.png" />
</div>



<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Lenovo Blade System Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  Lenovo Flex Blade System Easily scales to meet business needs, works with multiple generations of technology, offers high availability, securely protects vital information, & maximizes uptime. The Flex system blade chassis offers a choice of Compute Storage networking and management nodes.

  The Flex system enterprise chassis has been designed and built specifically to provide the efficiency along with the growth path necessary to protect customer’s investment into the future. The Flex system enterprise chassis is the foundation of the Flex system offering, which features 14 standard (half-width) Flex system form factor compute node bays in a 10U chassis that delivers high-performance connectivity for customers integrated computer, networking and management resources.

  Simplify, automate, and modernize Day 1 provisioning and ongoing administrative tasks over the server lifecycle with Lenovo XClarity.
</p>

</div>

<!--blade system solution-->

<div class="img_container">
  <img src="/img/lenovo-blade-slide.png" />
</div>



<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Cisco UCS Blade System</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  The Cisco UCS 5100 Series Blade Server Chassis is a crucial building block of the Cisco Unified Computing System, delivering a scalable and flexible architecture for current and future data center needs, while helping reduce total cost of ownership.

Cisco’s first blade-server chassis offering, the Cisco UCS 5108 Blade Server Chassis, is six rack units (6RU) high, can mount in an industry-standard 19-inch rack, and uses standard front-to-back cooling. A chassis can accommodate up to eight half-width, or four full-width Cisco UCS B-Series Blade Servers.
</p>

</div>

<!--blade system solution-->
<div class="img_container">
  <img src="/img/cisco-blade-slide.png" />
</div>


<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">HPE Synergy Composable Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  Gain efficiency, control, and deploy IT resources quickly for any workload through a single interface. HPE Synergy is a powerful software-defined solution which enables you to compose fluid pools of physical and virtual compute, storage, and fabric resources into any configuration for any application.

Hewlett Packard Enterprise has developed a new type of “composable’ hardware. It claims will cut data center costs and slash the time it takes to spin up new applications.

HPE Synergy combines storage, compute and network equipment in one chassis, along with management software that can quickly configure the hardware automatically to provide just the resources needed to run an application.

HPE Synergy’s unique built-in software intelligence, auto discovery capabilities and fluid resource pools enable customers to instantly boot up infrastructure ready to run physical, virtual and containerized applications.
</p>

</div>

<!--blade system solution-->
<div class="img_container">
  <img src="/img/synergy-slide-system.png" />
</div>

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Client Computer Solution</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  Client computing in IT is defined as the deployment of data-handling activities or other network operations away from centralized and always-connected network segments, and towards individual sources of data capture, such as endpoints like desktops, laptops, tablets and smartphones.
  Client computing can also reduce data transport requirements, thereby saving network bandwidth costs. Client computing device that initiates contact with a server in order to make use of a shareable resource.

A client computer that retrieves information from or uses resources provided by the server or main computer. Many corporate networks are comprised of a client computer at each of the employees’ desks.

We provide client computer solution like desktops, workstation, thin client, laptop and tablet based on HP, DellEMC, Lenovo, Fujitsu, Huawei and Panasonic.
</p>

</div>

<div class="img_container">
  <img src="/img/banner-client-server.png" />
</div>

<!-- <div class="img_container" style="width:100% !important; display: flex; justify-content: center; padding: 0px;">
  <img src="/img/banner-client-server.png"   style="width: 50% !important"/>
</div> -->


<div class="container-fluid" style="margin-top: 50px">
  <h4 class="heading_style">Desktop Computer</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>


<p class="general_paragraph">
  A desktop computer is a personal computing device designed to fit on top of a typical office desk. It houses the physical hardware that makes a computer run and connects to input devices such as the monitor, keyboard and mouse.

Advantages of a desktop computers have more power and more features. Desktop computers are easier, and less expensive to upgrade. Desktop computers are generally less expensive overall and offer a better overall value.
</p>

<div class="img_container">
  <img src="/img/desktop_banner.png" />
</div>

</div>

<div class="container-fluid style="margin-top: 30px">
  <h4 class="heading_style">Work Station Computer</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>



<p class="general_paragraph">
  A workstation is a special computer designed for technical or scientific applications. Intended primarily to be used by one person at a time, they are commonly connected to a local area network and run multi-user operating systems

Desktop Computer has enough power to do most tasks such as email, web surfing, and word processing. But a workstation has more power. It can handle CAD, animation, data analysis, and photorealistic renderings, as well as video and audio creation and Editing.

Workstations are more powerful and higher in performance than desktop computers, especially with respect to CPU and Graphics, memory capacity and multitasking capability.
</p>


<div class="img_container">
  <img src="/img/workstation-solution-banner.png" />
</div>

</div>

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Laptop Computer</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>




<p class="general_paragraph">
A laptop computer, sometimes called a notebook computer by manufacturers, is a battery- or AC-powered personal computer generally smaller than a briefcase that can easily be transported to anywhere as we like.

Also they are less noisy and easy to handle. Similar to desktop computers the laptop computers include mother board, processor, hard disk, memory, graphic card, keyboard, mouse and display device.

The major benefits of a laptop computer is that it is lighter in weight and can be used while travelling.
</p>

<div class="img_container">
  <img src="/img/laptop-solution-banner.png" />
</div>

</div>

<div class="container-fluid" style="margin-top: 30px">
  <h4 class="heading_style">Tablet Computer</h4>


  <div class="container-fluid" style="margin-bottom:30px">
    <hr class="span_seperator"></hr>
</div>



<p class="general_paragraph">
  A tablet, or tablet PC, is a portable computer that uses a touchscreen as its primary input device. Most tablets are slightly smaller and weight less than the average laptop. While some tablets include fold out keyboards, others, such as the Apple iPad and Motorola Xoom, only offer touchscreen input.

  Tablet computers resemble smartphones in some ways and can also be used to take photos, make phone calls, send messages, record videos and perform other tasks that can be performed by a smartphone as well.Tablet PCs have become so popular due to their great features, specialized apps and portability.
</p>


<div class="img_container">
  <img src="/img/tablet-solution-banner.png" />
</div>

</div>


<script>
  $('.carousel').carousel({
  interval: 1000 * 2
});
</script>
  
  <%- include('partials/masinfosysfooter'); -%>