


.alert-cookie-policy{
    display: none;
    border-radius: 0;
    position: fixed;
    bottom:0;
    top:auto;
    left:0;
    right: 0;
    z-index: 999;
  }
  .alert-cookie-policy .alert{
    border-radius: 0;
  }
  
  /*
  @media (min-width: 576px) { 
  }
  @media (min-width: 768px) { 
  }
  @media (min-width: 992px) { 
  }
  @media (min-width: 1200px) { 
  }
  */
  